__pycache__
*.egg-info
dickens/
book.txt
lightrag-dev/
.idea/
dist/
env/
local_neo4jWorkDir/
neo4jWorkDir/
ignore_this.txt
.venv/
*.ignore.*
.ruff_cache/
gui/
*.log
.vscode
inputs
rag_storage
.env
venv/
examples/input/
examples/output/

agriculture/*
cooking/*
mix/*

reproduce/exp/*
reproduce/exp_log/*
reproduce/mix/*
reproduce/Step_1_tongyi_ollama.py
reproduce/.env
datasets
.env
爱尔眼科(修正目录版).pdf
